.container{
    width: 940px;
    padding-top: 60px;
    margin: 0 auto;
}
.MainPage{
    position: relative;
}
.container> img{
    position: absolute;
    top: 0;
    left: 0;
}

.label{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 32px;
    /*letter-spacing: 1.48px;*/
    color: #000;
    text-align: center;
    margin-bottom: 55px;
}
.span_input_{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    text-align: right;
    color: rgba(0, 0, 0, 0.85);
    margin-left: 4px;
}
.span_input_d{
    width: 80px;
    height: 24px;
    display: flex;
}
.span_input{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: right;
    color: rgba(0, 0, 0, 0.85);

}
.add_container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 42px;
}
.input_container{
    display: flex;
    width: 508px;
    height: 50px;
    gap: 80px;
    justify-content: space-between;
}
.book_list{

}
.book_label{
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    padding: 16px;
    flex: 0 0 699px;
    height: 55px;
}
.name{
    font-family: var(--font-family);
    font-weight: 600;
    /*letter-spacing: -0.5px;*/
    font-size: 20px;
    line-height: 120%;
    color: rgba(0, 0, 0, 0.85);
}
.book_label_wrap{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.book_label_wrap_inner{
    width: 100%;
    margin-left: 20px;
    border-left: 1px solid rgba(0, 0, 0, 0.06);
    height: 22px;
}

